body{
    background-color: black;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(252, 252, 252);
}

h2{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
p{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#IceCube{
    width: 20%;
    height: 20%;

}